<nav class="header-container">
  <div class="nav-left">
    <a routerLink="/available-products">Subastas</a>
  </div>
  <div class="nav-center">
    <a routerLink="/add-product">Crear Subasta</a>
    <a routerLink="/sold-products">Subastas Concluidas</a>
    <a routerLink="/unsold-products">Subastas sin Ganador</a>
    <a routerLink="/user-available-product">Subastas disponibles</a>
  </div>
  <div class="nav-right">
    <span>{{ username }}</span>
    <img src="../../assets/wallet.png" alt="Wallet" class="wallet-icon" (click)="openModal()">
    <span (click)="openModal()">${{ walletAmount }}</span>
    <a (click)="logout()">Cerrar Sesion</a>
  </div>
</nav>

<app-modal *ngIf="showModal" (close)="closeModal()"></app-modal>
