<div class="login-container">
  <div class="image-container">
    <img src="../../../assets/img.jpg" alt="Login Image">
  </div>
  <div class="form-container">
    <h2>Iniciar Sesion</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" id="username" name="username" [(ngModel)]="loginData.username" required>
      </div>
      <div class="form-group">
        <label for="password">Contrasena</label>
        <input type="password" id="password" name="password" [(ngModel)]="loginData.password" required>
      </div>
      <button type="submit">Inicia Sesion</button>
    </form>
    <p *ngIf="responseMessage" [ngClass]="{'response-message': isSuccess, 'error-message': !isSuccess}">
      {{ responseMessage }}
    </p>
    <p>No tienes cuenta? <a routerLink="/register">Registrate</a></p>
  </div>
</div>
