/* Estilo para la barra de navegación */
.navbar {
  background-color: #ffffff; /* Color de fondo */
  box-shadow: 1px 4px 20px rgba(255, 0, 234, 0.1); /* Sombra */
}

.navbar-brand {
  color: #ff00c8; /* Color del texto del logotipo */
  font-weight: bold; /* Grosor de la fuente */
  font-size: 30px; /* Tamaño de la fuente */
}

/* Línea divisoria entre el logo y los enlaces */
.divider {
  border-top: 2px solid #ff00c8; /* Color de la línea */
  margin-top: 10px; /* Espacio superior */
  margin-bottom: 10px; /* Espacio inferior */
}

.navbar-nav .nav-link {
  font-size: 20px; /* Tamaño de la fuente para los enlaces */
}

.navbar-nav .nav-link:hover {
  color: #ff00dd; /* Color del texto de los enlaces al pasar el mouse */
}

/* Estilo para el menú desplegable */
.dropdown-menu {
  background-color: #ffffff; /* Color de fondo */
  border: none; /* Borde */
  box-shadow: 1px 8px 10px rgba(255, 3, 3, 0.1); /* Sombra */
}

/* Estilo para el elemento de la barra de navegación activo */
.navbar-nav .nav-item.active .nav-link {
  background-color: #007bff; /* Color de fondo del elemento activo */
  color: #ffffff; /* Color del texto del elemento activo */
  font-weight: bold; /* Grosor de la fuente */
  text-decoration: underline; /* Subrayado */
}
