/* Estilo para la barra de navegación */
.navbar {
  background-color: #ffffff; /* Color de fondo */
  box-shadow: 0px 0px 10px #000000; /* Sombra */

}

.navbar-brand {
  color: #ff7b00; /* Color del texto del logotipo */
  font-weight: bold; /* Grosor de la fuente */
  font-size: 30px; /* Tamaño de la fuente */

}

/* Línea divisoria entre el logo y los enlaces */
.divider {
  border-top: 1px solid #ff7b00; /* Color de la línea */
  margin-top: 10px; /* Espacio superior */
  margin-bottom: 10px; /* Espacio inferior */
}

.navbar-nav .nav-link {
  font-size: 20px; /* Tamaño de la fuente para los enlaces */
  border-top: 1px solid #ff7b00;
  color: #ffffff; /* Color del texto del elemento activo */
}

.navbar-nav .nav-link:hover {
  color: #ff7b00; /* Color del texto de los enlaces al pasar el mouse */
}

/* Estilo para el menú desplegable */
.dropdown-menu {
  background-color: #777272; /* Color de fondo */
  border: 1px; /* Borde */

}

/* Estilo para el elemento de la barra de navegación activo */
.navbar-nav .nav-item.active .nav-link {
  color: #ffffff; /* Color del texto del elemento activo */
  font-weight: bold; /* Grosor de la fuente */
  text-decoration: underline; /* Subrayado */
}
.navbar-toggler-icon{
  color: #ffffff;

}

