<div class="container">
  <form #usuarioForm="ngForm" (ngSubmit)="guardarUsuario()">
      <label for="idDeApuesta">ID de Apuesta:</label>
      <input type="number" id="idDeApuesta" [(ngModel)]="usuario.idDeApuesta" name="idDeApuesta" required>
    <div class="form-group">
      <label for="gasto">Gasto:</label>
      <input type="number" id="gasto" [(ngModel)]="usuario.gasto" name="gasto" required>
    </div>
    <div>
      <button type="submit" [disabled]="!usuarioForm.valid">Puja</button>
    </div>
  </form>
</div>
