<div class="container">
  <div *ngIf="subastaId !== null && subasta && esSubastaCorrecta(subasta)" class="subasta">
    <!-- Verifica que subasta esté definida antes de mostrar sus detalles -->
    <div class="estado-container">
      <span class="estado" [ngClass]="{ 'activo': subasta.activa, 'inactivo': !subasta.activa }">{{ subasta.activa ? 'Activa' : 'Inactiva' }}</span>
    </div>
    <h3 class="nombre-divider">{{ subasta.nombre }}</h3> <!-- División con línea divisoria -->
    <div class="id-container">{{ subasta.id }}</div> <!-- ID en la esquina inferior derecha -->
    <p><strong>Usuario:</strong> {{ subasta.usuario }}</p>
    <p><strong>Cantidad:</strong> {{ subasta.cantidad }}</p>
    <p><strong>Evento:</strong> {{ subasta.evento }}</p>
    <p><strong>Descripción:</strong> {{ subasta.descripcion }}</p>
    <div class="precio-container">
      <div class="precio-label"><strong>Precio Inicial:</strong></div>
      <div class="precio">{{ subasta.precioInicial }}</div>
      <div class="precio-label"><strong>Precio Actual:</strong></div>
      <div class="precio">{{ subasta.precioActual }}</div>
    </div>
    <div class="acciones">
      <a [routerLink]="['/subasta', subasta.id]" class="btn">Pujar</a> <!-- Enlace dinámico con ID -->
    </div>
  </div>
  <!-- Enlace para volver -->
  <div class="acciones">
    <a routerLink="/lista" class="btn btn-secondary">Volver</a>
  </div>
</div>
