<div class="container">
  <div *ngIf="subasta" class="subasta">
    <div class="estado-container">
      <span class="estado" [ngClass]="{ 'activo': subasta.activa, 'inactivo': !subasta.activa }">{{ subasta.activa ? 'Activa' : 'Inactiva' }}</span>
    </div>
    <h3 class="nombre-divider">{{ subasta.nombre }}</h3>
    <div class="id-container">{{ subasta.id }}</div>
    <p><strong>Usuario:</strong> {{ subasta.usuario }}</p>
    <p><strong>Cantidad:</strong> {{ subasta.cantidad }}</p>
    <p><strong>Evento:</strong> {{ subasta.evento }}</p>
    <p><strong>Descripción:</strong> {{ subasta.descripcion }}</p>
    <div class="precio-container">
      <div class="precio-label"><strong>Precio Inicial:</strong></div>
      <div class="precio">{{ subasta.precioInicial }}</div>
      <div class="precio-label"><strong>Precio Actual:</strong></div>
      <div class="precio">{{ subasta.precioActual }}</div>
    </div>
    <form #usuarioForm="ngForm" (ngSubmit)="guardarUsuario()">
      <div class="puja-container">
        <label for="gasto">Valor de la Puja:</label>
        <div class="input-group">
          <input type="number" id="gasto" [(ngModel)]="usuario.gasto" name="gasto" placeholder="Ingrese su puja" min="0" step="100" class="form-control">
          <div class="input-group-append">
            <button type="submit" [disabled]="!usuarioForm.valid" class="btn btn-primary">Pujar y Guardar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="container">
    <div class="subasta" *ngFor="let usuario of usuarios">
      <h3 class="nombre-divider">{{ usuario.nombre }}</h3>
      <div class="id-container">{{ usuario.id }}</div>
      <p><strong>ID de Apuesta:</strong> {{ usuario.idDeApuesta }}</p>
      <p><strong>Puja:</strong> {{ usuario.gasto }}</p>
    </div>
  </div>
</div>
<div class="acciones">
  <a routerLink="/lista" class="btn btn-secondary">Volver</a>
</div>
<app-chat></app-chat>
