<div class="container">
  <div class="subasta" *ngFor="let subasta of subastas">
    <div class="estado-container">
      <span class="estado" [ngClass]="{ 'activo': subasta.activa, 'inactivo': !subasta.activa }">{{ subasta.activa ? 'Activa' : 'Inactiva' }}</span>
    </div>
    <h3 class="nombre-divider">{{ subasta.nombre }}</h3>
    <div class="id-container">{{ subasta.id }}</div>
    <p><strong>Usuario:</strong> {{ subasta.usuario }}</p>
    <p><strong>Cantidad:</strong> {{ subasta.cantidad }}</p>
    <p><strong>Evento:</strong> {{ subasta.evento }}</p>
    <p><strong>Descripción:</strong> {{ subasta.descripcion }}</p>
    <div class="precio-container">
      <div class="precio-label"><strong>Precio Inicial:</strong></div>
      <div class="precio">{{ subasta.precioInicial }}</div>
      <div class="precio-label"><strong>Precio Actual:</strong></div>
      <div class="precio">{{ subasta.precioActual }}</div>
    </div>
    <div class="acciones">
      <a (click)="guardarIdSubasta(subasta.id)" class="btn">Entrar</a>
    </div>
  </div>
</div>
